*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-color: #181825;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #CDD6F4;
}


#main-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 2rem;
    background-color: #1E1E2E;
    padding: 2rem;
    border-radius: 2rem;
    border: 2px solid #585B70;
}

.links{
    display: flex;
    gap: 1rem;
}

.button{
    color: #3D8BB5;
    text-decoration: none;
    padding: 1rem;
    background-color: #a3acdd;
    border-radius: 1rem;
    color: #cdd6f4;
    transition: all 0.3s;
}

.button:hover{
    background-color: #b4befe;
}

