@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    margin-top: 1%;
    width: 100%;
    color: #ffffff;
    background-color: #2e3440;
    font-family: 'Roboto';
    overflow: auto;
}

/*Nav*/
#name-wrap {
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 1.5%;
    text-align: center;
    background-color: #bf616a;
    transition: all .3s;
}

#name-wrap h1 {
    font-family: "Lilita One";
    font-weight: 600;
    font-size: 1.6em;
    transition: .5s all;
}

nav ul {
    list-style-type: none;
}

#name-wrap:hover>h1 {
    animation: name-anim .6s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all;
}

@keyframes name-anim {
    50% {
        font-weight: 250;
        transform: scale(70%);
    }

    100% {
        font-weight: 600;
    }
}

header {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 10%;
    display: flex;
}

nav a {
    text-decoration: none;
}

#top-nav {
    width: 100%;
    display: flex;
    background-color: #81a1c1;
}

#top-nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#top-nav li {
    width: 20%;
}

#top-nav a {
    display: block;
    background-color: #ffffff;
    color: #000000;
    padding: 5%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 100px;
    text-align: center;
    filter: drop-shadow(2px 2px 1px #000000);
    transition: 0.2s all;
    text-decoration: none;
}

#top-nav a:focus,
#top-nav a:hover {
    background-color: #000000;
    outline: none;
    color: #ffffff;
    filter: none;
}

#name-wrap i {
    display: none;
}

#bottom-nav {
    display: none;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    flex-flow: column;
    background-color: #81a1c1;
    backdrop-filter: blur(2px);
}

#bottom-nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#bottom-nav a {
    margin: 1%;
}

#bottom-nav i {
    font-size: 1.5em;
    color: #E5E9F0;
    filter: drop-shadow(0px 0px 15px #E5E9F055);
}

.title {
    font-family: 'Lilita One';
    font-weight: 500;
    background-color: #d08770;
    text-align: center;
    padding: 1.3%;
    margin: 0%;
}


/*Main content*/

.main {
    margin-top: 75px;
}

#presentation {
    display: flex;
    justify-content: center;
    background: linear-gradient(141deg, rgba(76, 86, 106, 1) 0%, rgba(235, 203, 139, 1) 50%, rgba(208, 135, 112, 1) 100%);
    background-size: 400%;
    animation: gradient 10s infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 65%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#presentation>div {
    filter: brightness(100%);
    color: white;
    background-color: #00000055;
    min-width: 80%;
    min-height: 80%;
    border-radius: 25px;
    padding: 2%;
    margin: 1%;
    display: flex;
}

#presentation article {
    display: flex;
    flex-flow: column;
}

#presentation h1 {
    font-size: 200%;
}

#presentation p {
    font-size: 1.3vw;
}

#presentation>div {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#presentation img {
    width: 20%;
    height: 100%;
}

/*Skills*/

#skills {
    display: flex;
    justify-content: center;
}

#skills tr,
#skills td {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills td{
    display: flex;
    justify-content: center;
}

#skills p {
    font-size: 1.3em;
    text-align: center;
}

#skills i {
    font-size: 3em;
}

#skills img {
    margin: 0.5em;
    width: 3em;
}

/*Retexes*/

#retexes {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    background: linear-gradient(37deg, #81A1C1 50%, #BF616A 100%);
    background-size: 400%;
    animation: gradient 5s infinite;
}

#retexes h1 {
    text-align: center;
    position: relative;
    z-index: 1;
    font-weight: 600;
}

#retexes ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 100%;
    list-style: none;
}

#retexes ul a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5%;
    width: 45%;
    height: 25vh;
    transition: 0.3s all;
    overflow: hidden;
    border-radius: 35px;
    background-color: #E5E9F000;
}

#retexes ul a h1 {
    font-size: 150%;
    font-weight: 700;
}

#retexes ul a h2 {
    font-size: 90%;
    text-align: center;
}

#retexes ul h1,
#retexes ul h2 {
    filter: drop-shadow(2px 2px 2px #2e3440);
}

ul {
    padding: 0;
}

#retexes ul a img {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    border-radius: 35px;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    transition: all 0.3s ease-in-out;
}

#retexes ul a:hover, #retexes ul a:focus {
    background-color: #E5E9F066;
    outline: 1px solid #E5E9F0;
}

#retexes ul a:hover>img, #retexes ul a:focus>img {
    transform: translate(75%);
    filter: brightness(100%);
}

.retex-class {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.separator {
    width: 30%;
    height: 1vh;
    border-radius: 100px;
}

#retexes-nav {
    text-decoration: none;
    color: white;
    background-color: #81a1c1;
    height: 2.5em;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#retexes-nav img {
    width: 1.5em;
}

/*Defines the separators in the dividers*/
#java .separator {
    background: linear-gradient(141deg, #E5E9F0DD 0%, #DA1E20 60%, #1288C2 100%);
    box-shadow: 0px 0px 10px #1288C2;
}

#sys .separator {
    background: linear-gradient(141deg, #E5E9F0DD 0%, #181B28 60%, #66AF3D 100%);
    box-shadow: 0px 0px 10px #66AF3D;
}

#ihm .separator {
    background: linear-gradient(141deg, #E5E9F0DD 0%, #9370DB 60%, #6295CB 100%);
    box-shadow: 0px 0px 10px #6295CB;
}

#data .separator {
    background: linear-gradient(141deg, #E5E9F0DD 0%, #954248 60%, #1184C0 100%);
    box-shadow: 0px 0px 10px #1184C0;
}

#web .separator {
    background: linear-gradient(141deg, #E5E9F0DD 0%, #2862E9 60%, #E96228 100%);
    box-shadow: 0px 0px 10px #E96228;
}

/*Contacts*/

#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacts ul {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    list-style: none;
}

#contacts i {
    font-size: 3em;
    transition: 0.2s transform cubic-bezier(0.075, 0.82, 0.165, 1);
    color: #ffffff;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#contacts i:hover {
    transform: scale(130%);
}

footer {
    text-align: center;
}

footer a,
#contacts a,
p a {
    text-decoration: none;
    color: #5e81ac;
}

#form-wrapper {
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    font-family: "Lilita One";
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    width: 500px;
    background-color: #3b4252;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px #3b4252;
}

form h1 {
    color: white;
    font-size: 2em;
    font-weight: 600;
}

form input,
form textarea {
    background-color: #2e3440;
    color: white;
    font-weight: 800;
    outline: 0;
    border: 0;
    padding: 1%;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    align-self: center;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    resize: none;
}

form #name {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    gap: 15px;
}


form textarea {
    height: 10em;
}

form button {
    width: 100%;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
    background-color: #5e81ac;
    color: white;
    cursor: pointer;
    transition: .1s all;
    box-shadow: none;
}

form button:hover, form button:focus {
    box-shadow: 0px 0px 10px #5e81ac;
}

form input:focus,
form textarea:focus {
    transform: scale(105%);
    box-shadow: 0px 0px 15px #2e3440;
}

/*Retex page*/

#top-nav .pdf{
    background-color: #F46039;
    color: #ffffff;
}

#title{
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#title h1{
    font-size: 1.5em;
}

#sections{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
}

.section{
    background-color: #3D334E;
    border-radius: 20px;
    margin: 0.5%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.section h2{
    font-size: 1em;
}

.section li{
    font-size: 0.8em;
}

@media (max-width: 872px) {

    .main {
        margin-top: 35px;
        margin-bottom: 85px;
    }

    #presentation div {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    #presentation div img {
        width: 35%;
        align-self: center;
    }

    #presentation>div {
        width: 100%;
    }

    #presentation img {
        width: 1%;
    }

    #presentation p {
        width: 100%;
        font-size: 4vw;
    }

    #bottom-nav {
        display: flex;
        justify-content: center;
    }

    #top-nav {
        display: none;
    }

    header {
        height: 5%;
        
    }

    #name-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #retexes ul a {
        width: 95%;
        font-size: 80%;
        height: 100%;
    }

    #retexes ul li:hover>img {
        transform: translate(90%);
    }

    #name-wrap i {
        display: block;
        position: relative;
        left: 5%
    }
}