@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

html {
    margin: 0;
    scroll-behavior: smooth;
    background-size: 150%;
    height: 100vh;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(141deg, rgba(196, 205, 221, 1) 0%, rgba(185, 170, 141, 1) 50%, rgba(129, 111, 105, 1) 97%, rgba(208, 135, 112, 1) 100%);
    background-size: 200%;
    background-repeat: no-repeat;
}

#name-wrap {
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 1.5%;
    text-align: center;
    background-color: #bf616a;
    transition: all .3s;
}

#name-wrap h1 {
    font-family: "Lilita One";
    font-weight: 900;
    font-size: 1.6em;
    transition: .5s all;
}

#name-wrap:hover>h1 {
    animation: name-anim .6s;
    transition: all;
}

@keyframes name-anim {
    50% {
        font-weight: 450;
        transform: scale(85%);
    }

    100% {
        font-weight: 900;
    }
}

header {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: 10%;
    display: flex;
}

nav {
    width: 100%;
    display: flex;
    background-color: #81a1c1;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav li {
    width: 20%;
}

nav a {
    display: block;
    background-color: #ffffff;
    color: #000000;
    padding: 5%;
    border-radius: 100px;
    width: 75%;
    font-size: 0.85em;
    text-align: center;
    filter: drop-shadow(2px 2px 1px #000000);
    transition: 0.2s all;
    text-decoration: none;
}

nav a:hover {
    background-color: #000000;
    color: #ffffff;
    filter: none;
}

#pdf:hover{
    background-color: #bf616a;
    color: #ffffff;
    filter: none;
}


#name-wrap ion-icon {
    display: none;
}

#hamburger {
    display: none;
    width: 50%;
    position: fixed;
    right: 100%;
    height: 100%;
    background-color: #2e3440cc;
    backdrop-filter: blur(2px);
}

#hamburger ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#hamburger a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 80%;
    margin: 1%;
    height: 5vh;
    margin-top: 10vh;
    background-color: #ffffffcc;
}

#hamburger-show:checked+#hamburger {
    display: inline;
    animation: burgerslider 0.5s;
    right: 50%;
}

@keyframes burgerslider {
    0% {
        right: 100%;
    }

    25% {
        background-color: #2e344000;
    }

    100% {
        right: 50%;
        background-color: #2e3440cc;
    }
}

.title {
    font-family: 'Lilita One';
    font-weight: 500;
    font-size: 100%;
    margin: 2%;
    filter: drop-shadow(1px 1px 2px #2e3440);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#separator {
    width: 100%;
    height: 5%;
    background-color: #eceff4;
    filter: drop-shadow(5px 5px 1px #5d626b);
    border-radius: 100px;
}

#main{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

#left{
    display: flex;
    flex-grow: 1;
    flex-flow: column wrap;
    margin: 1%;
}

#left h1{
    font-size: 1.3em;
}

#left ul{
    font-size: 1em;
}

#right{
    width: 35%;
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    margin: 1%
}

#right img{
    scale: 75%;
    margin: 2%;
    border-radius: 30px;
    filter: drop-shadow(0px 0px 25px #1C2931);
    border-style: solid;
    border-width: 5px;
    border-color: #bf616a;
}

#content{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

#content img{
    width: 2em;
}

#content div{
    width: 49.6%;
    margin: 2px;
    background-color: #2e3440;
    border-radius: 15px;
    padding: 0;
}

@media(max-width : 1036px){
    #main{
        flex-flow: column wrap;
    }
    #right{
        flex-flow: row;
    }
    #right img{
        width: 12em;
    }
    #left #content div ul{
        font-size: 0.8em;
    }
    .title{
        font-size: 1em;
    }
}